<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Iniciar sesión</h1>

  <form method="POST" action="/login">
    <input name="usuario" placeholder="Usuario">
    <input type="password" name="password">
    <button>Entrar</button>
  </form>
</body>
</html>
