<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Registrar</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <meta name="theme-color" content="#7952b3">

  <style>
    body {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
    }
  </style>
</head>

<body class="text-center">

<main class="form-signin">
  <form method="POST" action="/users/register">
  <img class="mb-4" src="/store.PNG" alt="store" width="122" height="117">

  <h1 class="h3 mb-3 fw-normal">Register</h1>

  <div class="form-floating mb-2">
    <input 
      type="text" 
      class="form-control" 
      id="floatingUser"
      name="user"
      placeholder="Username"
      required
    >
    <label for="floatingUser">Username</label>
  </div>

  <div class="form-floating mb-3">
    <input 
      type="password" 
      class="form-control" 
      id="floatingPassword"
      name="password"
      placeholder="Password"
      required
    >
    <label for="floatingPassword">Password</label>
  </div>

  <div class="form-floating mb-3">
    <select 
      class="form-select" 
      id="floatingRole"
      name="rol"
      required
    >
      <option disabled selected>Choose a role</option>
      <option value="Admin">Admin</option>
      <option value="Caja">Caja</option>
    </select>
    <label for="floatingRole">Role</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary" type="submit">
    Register
  </button>
</form>

</main>

</body>
</html>
