<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Registrar</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <meta name="theme-color" content="#7952b3">

  <style>
    body {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
    }
  </style>
</head>

<body class="text-center">

<main class="form-signin">
  <form>
    <img class="mb-4" src="/store.PNG" alt="pene" width="122" height="117">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating mb-2">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

<div class="form-floating mb-3">
  <select class="form-select" id="floatingRole" aria-label="Select role">
    <option selected disabled>Choose a role</option>
    <option value="admin">Admin</option>
    <option value="caja">Caja</option>
  </select>
  <label for="floatingRole">Role</label>
</div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="rememberMe">
      <label class="form-check-label" for="rememberMe">
        Remember me
      </label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2025</p>
  </form>
</main>

</body>
</html>
